body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(56, 56, 56);
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: lighter;
}

h2 {
  width: 100%;
  font-weight: lighter;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  margin-bottom: 3rem;
  display: block;
  display: flex;
}

#section2,
#section3,
#section4 {
  margin-left: 6rem;
  margin-right: 6rem;
  flex-direction: column;
  align-items: center;
}

section2,
section3 {
  border-bottom: 1px solid;
}

#section2 {
  flex-direction: column;
  align-items: center;
}

#section2 img,
#section3 img {
  height: 60px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#section2,
#section3 {
  border-bottom: 1px solid;
}

#section3 ul {
  width: 100%;
  list-style-type: none;
}

#section3 ul li:before {
  width: 100%;
  content: '- ';
  text-indent: -5px;
}

#section4 ol {
  /* list-style-type: upper-alpha; */
  /* list-style-type: symbols(''); */
}

#section4 ol li:after {
  width: 100%;
  content: ')';
  text-indent: -5px;
}
